.inline {
  background-color: #fff;
  position: relative;
  display: grid;
  grid-template-columns: 300px 700px;
  border-radius: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
  justify-content: center;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

.title {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.backButton {
  color: rgb(231, 218, 218);
  background-color: #ce5249;
  font-size: 17px;
  text-align: center;
  padding: 10px 25px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
  cursor: pointer;
}

.backButton:hover {
  color: #ce5249;
  background-color: rgb(231, 218, 218);
}

.info {
  background-color: #fff;
  vertical-align: top;
  border-radius: 5px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
  background-color: rgb(231, 218, 218, 0.3);
}
.texts {
  color: black;
  font-style: italic;
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.divimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
}

.detailImg {
  margin: 5px;
  display: flex;
  box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
  width: 500px;
  height: 300px;
}

.ddsh {
  display: flex;
  justify-content: center;
}

.dishesanddiets {
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  border-radius: 3px;
  color: black;
  font-style: italic;

  text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.43);
  box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
  background-color: rgb(231, 218, 218, 0.3);
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  color: black;
  font-style: italic;
  text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.43);
  border-radius: 3px;
  box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
  background-color: rgb(231, 218, 218, 0.3);
}

.summary {
  text-align: justify;
  padding-bottom: 50px;
  background-color: #f4f4f44d;
  color: black;
  font-weight: 500;
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.steps {
  text-align: justify;
  background-color: #f4f4f44d;
  color: black;
  font-weight: 500;
  width: 40%;
  display: inline-block;
  margin-left: 100px;
}

.lista {
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 1em;
}
